@css {
    body {
        @apply bg-gray-100
    }

    p {
        @apply mb-2;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-gray-600 mb-2 mt-8 border-l-8 -ml-8 pl-6 border-teal-400 font-bold;
    }

    h1 {
        @apply text-4xl
    }

    h2 {
        @apply text-2xl
    }

    h3, h4, h5, h6 {
        @apply text-xl
    }

    ul {
        @apply list-disc
    }

    a {
        @apply text-teal-600 no-underline;
    }

    a:hover {
        @apply text-teal-500;
    }

    img {
        @apply block mx-auto max-w-full;
    }

    pre {
        @apply block bg-gray-800  text-gray-200 -mx-8 my-2 p-4
    }
}