/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.phpunit.cache
/node_modules
docs/.vuepress/dist

# Static binary build artifacts
/spc
/spc.tar.gz
/downloads
/source
/buildroot
/pkgroot
/box.phar
/changelogger-*
/builds/changelogger-micro.phar
