<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         stopOnFailure="false"
         beStrictAboutChangesToGlobalState="false"
         displayDetailsOnTestsThatTriggerWarnings="false"
         failOnRisky="false">
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DIRECTORY" value="./testing"/>
  </php>
</phpunit>
